aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
asttokens==2.2.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
cefpython3==66.1
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
codetiming==1.4.0
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cramjam==2.8.3
cycler==0.12.1
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7.post1
decorator==5.1.1
Deprecated==1.2.18
distro==1.9.0
dj-database-url==3.1.2
Django==5.2.13
django-cors-headers==4.9.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
djangorestframework_simplejwt==5.5.1
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.19.1
fastparquet==2024.2.0
fiona==1.9.6
Flask==3.0.3
fonttools==4.49.0
frozenlist==1.5.0
fsspec==2024.3.1
geopandas==0.14.3
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
idna==3.7
img2pdf==0.6.1
importlib_metadata==7.1.0
iniconfig==2.3.0
ipykernel==6.25.1
ipython==8.14.0
itsdangerous==2.2.0
jedi==0.19.0
Jinja2==3.1.3
jiter==0.13.0
joblib==1.5.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.5
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
multidict==6.1.0
nbformat==5.10.4
nest-asyncio==1.5.7
numpy==1.26.2
ObjectListView==1.3.1
openai==2.30.0
opencv-python==4.11.0.86
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.1
pandas==2.2.2
parso==0.8.3
pickleshare==0.7.5
pikepdf==9.9.0
Pillow==10.1.0
platformdirs==3.10.0
plotly==5.20.0
pluggy==1.6.0
prompt-toolkit==3.0.39
propcache==0.2.1
psutil==5.9.5
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==15.0.2
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.16.1
PyJWT==2.12.1
pyodbc==5.1.0
pyparsing==3.1.1
pypdf==6.9.2
pyproj==3.6.1
Pyrogram==2.0.106
PySocks==1.7.1
pytest==9.0.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-telegram-bot==22.7
pytz==2024.1
pywin32==306
pyxlsb==1.0.10
pyzmq==25.1.1
referencing==0.34.0
requests==2.31.0
retrying==1.3.4
rpds-py==0.18.0
scikit-learn==1.6.1
scipy==1.15.2
selenium==4.25.0
shapely==2.0.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.5
stack-data==0.6.2
tenacity==8.2.3
TgCrypto==1.2.5
threadpoolctl==3.6.0
# Editable Git install with no remote (toolbox==0.1.0)
-e c:\users\trifo\onedrive\desktop\scripts\20260123_toolbox\toolbox_app_claude
tornado==6.3.3
tqdm==4.66.4
traitlets==5.9.0
trio==0.26.2
trio-websocket==0.11.1
types-PyYAML==6.0.12.20260510
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.6
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wrapt==1.17.2
wsproto==1.2.0
wxPython==4.2.1
yarl==1.18.3
zipp==3.18.1
